# Base URL of the CMS server (Local development or Production deployment)
NEXT_PUBLIC_CMS_API_URL="http://localhost:3001"

# Primary contact email address used across frontend components
NEXT_PUBLIC_CONTACT_EMAIL="info@yourdomain.com"
